<!------------------------------------------------------------------------------
  Copyright 2021 RHEA System S.A.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
------------------------------------------------------------------------------->

@using ReqifViewer.Infrastructure.Services
@using ReqIFSharp

@inject IReqIFLoaderService reqIfLoaderService

<RadzenSidebar @bind-Expanded="@Expanded">
    <ChildContent>
        <div style="padding: 1rem"></div>
        <RadzenPanelMenu>
            <RadzenPanelMenuItem Text="Home" Icon="home" Path="/"></RadzenPanelMenuItem>

                @if (this.reqifLoaded)
                {
                    @foreach (var reqif in this.reqIfLoaderService.ReqIFData)
                    {
                        <RadzenPanelMenuItem Text=@($"ReqIF {reqif.TheHeader.Title}")>
                            <RadzenPanelMenuItem Text="Specifications">

                                @foreach (var specification in reqif.CoreContent.Specifications)
                                {
                                    <RadzenPanelMenuItem Text="@specification.LongName" Path=@($"/specification/{specification.Identifier}")></RadzenPanelMenuItem>
                                }
                            </RadzenPanelMenuItem>

                            <RadzenPanelMenuItem Text="Spec Objects" Path="/specobjects"></RadzenPanelMenuItem>
                            <RadzenPanelMenuItem Text="Data Types" Path="/datatypes"></RadzenPanelMenuItem>
                            <RadzenPanelMenuItem Text="Specification Types">
                                <RadzenPanelMenuItem Text="Spec Object Types" Path="/specobjecttypes"></RadzenPanelMenuItem>
                                <RadzenPanelMenuItem Text="Specification Types" Path="/specificationtypes"></RadzenPanelMenuItem>
                                <RadzenPanelMenuItem Text="Spec Relation Types" Path="/specerlationtypes"></RadzenPanelMenuItem>
                            </RadzenPanelMenuItem>

                        </RadzenPanelMenuItem>
                    }
                }

            <RadzenPanelMenuItem Text="About" Icon="search" Path="about"></RadzenPanelMenuItem>
        </RadzenPanelMenu>
    </ChildContent>
</RadzenSidebar>

@code {

    /// <summary>
    /// Gets or sets a value indicating whether the <see cref="SideMenu"/> is expanded or not
    /// </summary>
    [Parameter]
    public bool Expanded { get; set; }

    /// <summary>
    /// The <see cref="EventCallback"/> associated to the <see cref="Expanded"/> property
    /// </summary>
    [Parameter]
    public EventCallback<bool> ExpandedChanged { get; set; }

    private bool reqifLoaded = false;

    protected override void OnInitialized()
    {
        this.reqIfLoaderService.ReqIfChanged += ReqIfLoaderServiceOnReqIfChanged;
    }

    private void ReqIfLoaderServiceOnReqIfChanged(object sender, IEnumerable<ReqIF> reqIfs)
    {
        if (reqIfs == null || !reqIfs.Any())
        {
            this.reqifLoaded = false;
        }
        else
        {
            this.reqifLoaded = true;
        }

        this.StateHasChanged();
    }

}