<!--
<copyright file="Index.razor" company="RHEA System S.A.">
    Copyright (c) 2021-2021 RHEA System S.A.

    Author: Sam Gerené

    This file is part of reqifviewer. The reqifviewer is a web application that can be used
    to load and inspect ReqIF files.

    The reqifviewer is free software; you can redistribute it and/or
    modify it under the terms of the GNU Affero General Public
    License as published by the Free Software Foundation; either
    version 3 of the License, or any later version.

    The reqifviewer is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
</copyright>
-->

@page "/"
@using System.IO

<div class="row mt-5 pt-5 text-center">
    <div class="col-md-12">
        <h1>ReqIF Viewer</h1>
        <h2>Open a ReqIF file and inspect its contents</h2>
    </div>
</div>

<div class="row">
    <div class="col align-self-center">
        <div class="col-md-6"/>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Open</span>
                </div>
                <div class="custom-file">
                    <InputFile OnChange="HandleSelection" class="custom-file-input" accept=".reqif,.reqifz"></InputFile>
                    <label class="custom-file-label">@fileSelectionText</label>
                </div>
            </div>
        </div>
    </div>

    @code
{
        private string fileSelectionText = "Select a file";

        private async Task HandleSelection(InputFileChangeEventArgs e)
        {
            var memoryStream = new MemoryStream();

            await e.File.OpenReadStream(long.MaxValue).CopyToAsync(memoryStream);

            this.fileSelectionText = e.File.Name;
        }
    }
