<!------------------------------------------------------------------------------
    Copyright 2021-2024 RHEA System S.A.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
------------------------------------------------------------------------------->

@using ReqIFSharp;
@using ReqIFSharp.Extensions.ReqIFExtensions
@using ReqifViewer.ReqIFExtensions
@using Serilog;

<RadzenDataGrid Data="@this.AttributeDefinitions" AllowFiltering="true" AllowColumnResize="true" TItem="AttributeDefinition">
    <Columns>
        <RadzenDataGridColumn TItem="AttributeDefinition" Title="Long Name">
            <Template Context="attributeDefinition">
                <a href="/reqif/@this.reqifIdentifier/spectype/@attributeDefinition.SpecType.Identifier/attributedefinition/@attributeDefinition?.Identifier">
                    @attributeDefinition?.LongName
                </a>
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="AttributeDefinition" Title="Type">
            <Template Context="attributeDefinition">
                @attributeDefinition?.QueryDatatypeName()
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="AttributeDefinition" Property="Description" Title="Description" />
        <RadzenDataGridColumn TItem="AttributeDefinition" Property="LastChange" Title="Last Change" />
        <RadzenDataGridColumn TItem="AttributeDefinition" Property="Identifier" Title="Identifier">
            <Template Context="attributeDefinition">
                <a href="/reqif/@this.reqifIdentifier/spectype/@attributeDefinition.SpecType.Identifier/attributedefinition/@attributeDefinition?.Identifier">@attributeDefinition?.Identifier</a>
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="Specification" Property="AlternativeId" Title="Alternative Id" />
    </Columns>
</RadzenDataGrid>

@code {

    /// <summary>
    /// Gets or sets the <see cref="IEnumerable{AttributeValue}"/>
    /// </summary>
    [Parameter]
    public IEnumerable<AttributeDefinition> AttributeDefinitions { get; set; }

    /// <summary>
    /// The unique identifier of the container reqif document
    /// </summary>
    private string reqifIdentifier;

	/// <summary>
	/// Method invoked when the component has received parameters from its parent in the render tree,
	/// and the incoming values have been assigned to properties.
	/// </summary>
    protected override void OnParametersSet()
    {
        var attributeDefinition = this.AttributeDefinitions.FirstOrDefault();

        try
        {
            this.reqifIdentifier = attributeDefinition.SpecType.ReqIFContent.DocumentRoot.TheHeader.Identifier;
        }
        catch (Exception e)
        {
            Log.ForContext<AttributeDefinitionsComponent>().Error(e, "OnParametersSet Failed");
        }
    }
}
